@using Typography = TenFour.CommonContent.Web.Utilities.UIComponent.MaterialUi.Constants.Typography

<section id="typography" class="typography-section">
	<label class="@Typography.Display2">10-4 Material Typography</label>
	<dl>
		<dt class="@Typography.Caption">DISPLAY 4</dt>
		<dd class="@Typography.Display4">Light 112px</dd>

		<dt class="@Typography.Caption">DISPLAY 3</dt>
		<dd class="@Typography.Display3">Regular 56px</dd>

		<dt class="@Typography.Caption">DISPLAY 2</dt>
		<dd class="@Typography.Display2">Regular 45px</dd>

		<dt class="@Typography.Caption">DISPLAY 1</dt>
		<dd class="@Typography.Display1">Regular 34px</dd>

		<dt class="@Typography.Caption">Headline</dt>
		<dd class="@Typography.Headline">Regular 24px</dd>

		<dt class="@Typography.Caption">Title</dt>
		<dd class="@Typography.Title">Medium 20px</dd>

		<dt class="@Typography.Caption">Subheading</dt>
		<dd>
			<label class="@Typography.SubheadingM">Regular 16px (Device)</label>,
			<label class="@Typography.SubheadingD">Regular 15px (Desktop)</label>
		</dd>

		<dt class="@Typography.Caption">Body 2</dt>
		<dd>
			<label class="@Typography.Body2M">Medium 14x (Device)</label>,
			<label class="@Typography.Body2D">Medium 13px (Desktop)</label>
		</dd>

		<dt class="@Typography.Caption">Body 1</dt>
		<dd>
			<label class="@Typography.Body1M">Regular 14px (Device)</label>,
			<label class="@Typography.Body1D">Regular 13px (Desktop)</label>
		</dd>

		<dt class="@Typography.Caption">Caption</dt>
		<dd class="@Typography.Caption">Regular 12px</dd>

		<dt class="@Typography.Caption">Menu</dt>
		<dd class="@Typography.Menu">Normal 14px</dd>

		<dt class="@Typography.Caption">Button</dt>
		<dd class="@Typography.Button">MEDIUM (ALL CAPS) 14px</dd>
	</dl>
</section>